body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  display: flex;
}

.sidebar {
  width: 240px;
  background: #111827;
  height: 100vh;
  padding: 20px;
}

.card {
  background: #1f2937;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
